<!DOCTYPE html>
<html>
    <head>
        <title>pagina em branco</title>
    </head>
    
<body>
    <p>Atividade programação Web II!</p>
    <center>
    <fieldset style="width: 500px;">
        <form action="/alterarPais" method="GET">
            <label>Id:</label>
            <input type='text' name="id" value="<%= id %>"/> <br><br>
            <label>Nome:</label>
            <input type='text' name="nome" value="<%= nome %>"/> <br><br>
            <input type="submit" />
        </form>
    </fieldset>
    </center>
</body>
</html>