<!DOCTYPE html>
<html>
    <head>
        <title>pagina em branco</title>
    </head>
    
<body>
    <p>Atividade programação Web II!</p>
    <center>
    <fieldset style="width: 500px;">
        <form action="/cadastrarPais" method="post" enctype="multipart/form-data">
            <label>Id:</label>
            <input type='text' name="id"/> <br><br>
            <label>Nome:</label>
            <input type='text' name="nome"/> <br><br>
            <label>Imagem:</label>
            <input type='file' name="image"/> <br><br>
            <input type="submit" />
        </form>
    </fieldset>
    </center>
</body>
</html>